/* Header & Nav */
#navbar {
    background-color: black;
}

#navbar .nav-link {
    color: white;
}

#navbar.navbar {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-color: white;
}

@media (min-width: 768px) {
    #navbar {
        background-color: transparent;
        height: 62px;
    }
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


/* Main content area */
#main {
    position: relative;
    top: -62px;
}

#main section h2 {
    padding-bottom: 1.5rem;
    color: #082a4d;
    font-weight: bold;
}

#main section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}


/* Hero block */
#hero-container {
    padding: 0;
    margin: 0;
}

#hero-inner {
    min-height: 500px;
    background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    margin-bottom: 150px;
}

#hero-box {
    position: relative;
    background-color: white;
    bottom: -80px;
}

@media (min-width: 768px) {
    #hero-box {
        position: relative;
        bottom: -120px;
        background-color: white;
    }
}


/* Timeline */
.timeline-item .item-date {
    background-image: linear-gradient(#adb5bd, #adb5bd);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline-item:last-child .item-date {
    background: none;
}

.timeline-item .date-box {
    background-color: #adb5bd;
}

.timeline-item .item-title,
.timeline-item .item-desc {
    max-width: 600px;
}

.timeline-item:not(:last-child) .item-desc {
    padding-bottom: 2rem;
}

.skill-item {
    margin-bottom: 1.5rem;
}


/* Skills */
.progress,
.progress-stacked {
    border-radius: 0;
}

#skills .progress-bar {
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#skills .nav-link {
    color: var(--bs-body-color);
}

#skills .nav-link.active {
    color: #082a4d;
    font-weight: bold;
}


/*  Change container max size
    This is to overwrite default BS
*/
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1080px;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1080px;
    }
}